<div class="inputs">
    <form class="row" #Form="ngForm" (ngSubmit)="getInputs(Form.value)">
        
            <input
            id="mssv" 
            class="form-control form-control-sm" 
            ngModel 
            #mssv="ngModel"
            type="text" 
            name="mssv" 
            placeholder="Nhập MSSV" 
            required>
        
            <input
            id="hk" 
            class="form-control form-control-sm" 
            ngModel 
            #nhhk="ngModel"
            type="text" 
            name="nhhk" 
            placeholder="Nhập học kỳ xem điểm thi (vd: 20191)" 
            required>
            <button type="submit" [disabled]="Form.invalid" class="btn btn-success btn-sm">Xem điểm</button>
    </form>
</div>
<div class="input-alert">
    <div *ngIf="mssv.errors && (mssv.dirty || mssv.touched)" id="alert-mssv" class="alert alert-danger" role="alert">
        <div [hidden]="!mssv.errors.required">
            Chưa nhập mssv
        </div>
    </div>
    <div *ngIf="nhhk.errors && (nhhk.dirty || nhhk.touched)" id="alert-nhhk" class="alert alert-danger" role="alert">
        <div [hidden]="!nhhk.errors.required">
            Chưa chọn học kỳ
        </div>
    </div>
</div>

<div class="container">
    <div class="_table">
        <table class="table table-bordered table-sm table-info">
            <thead class="table-dark">
            <tr>
                <th>Mã Môn Học</th>
                <th>Tên Môn Học</th>
                <th>Số Tín Chỉ</th>
                <th>Điểm Kiểm Tra 1</th>
                <th>Điểm Kiểm Tra 2</th>
                <th>Điểm Thi</th>
                <th>Loại</th>
                <th>Điểm Hệ Số 4</th>
                <th>Đạt Môn</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of listData">
                <th>{{data.ma_mon_hoc}}</th>
                <td>{{data.ten_mon_hoc}}</td>
                <td>{{data.so_tc}}</td>
                <td>{{data.diem_kt_1}}</td>
                <td>{{data.diem_kt_2}}</td>
                <td>{{data.diem_thi}}</td>
                <td>{{data.loai}}</td>
                <td>{{data.diem_he_so_4}}</td>
                <td>{{data.dat_mon}}</td>
            </tr>     
            </tbody>   
        </table>
    </div>
</div>




