<div class="inputs">
    <form class="row" #Form="ngForm" (ngSubmit)="getInputs(Form.value)">
        
            <input
            id="mssv" 
            class="form-control form-control-sm" 
            ngModel 
            #mssv="ngModel"
            type="text" 
            name="mssv" 
            placeholder="Nhập MSSV" 
            required>
        
            <select
            id="hk" 
            class="form-select form-select-sm"
            ngModel
            #nhhk="ngModel"
            name="nhhk"
            required>
                <option value="" selected disabled>Chọn Học Kỳ</option>
                <option *ngFor="let semester of semesters" [value]="semester.value">{{semester.placeholder}}</option>
            </select>
        
            <button type="submit" [disabled]="Form.invalid" class="btn btn-success btn-sm">Xem lịch</button>
    </form>
</div>
<div class="input-alert">
    <div *ngIf="mssv.errors && (mssv.dirty || mssv.touched)" id="alert-mssv" class="alert alert-danger" role="alert">
        <div [hidden]="!mssv.errors.required">
            Chưa nhập mssv
        </div>
    </div>
    <div *ngIf="nhhk.errors && (nhhk.dirty || nhhk.touched)" id="alert-nhhk" class="alert alert-danger" role="alert">
        <div [hidden]="!nhhk.errors.required">
            Chưa chọn học kỳ
        </div>
    </div>
</div>
<div class="_table">
    <table class="table table-bordered table-sm table-info">
        <thead class="table-dark">
        <tr>
            <th scope="col">Mã Môn Học</th>
            <th scope="col">Tên Môn Học</th>
            <th scope="col">Mã Phòng</th>
            <th scope="col">Tên Phòng</th>
            <th scope="col">Giờ Bắt Đầu</th>
            <th scope="col">Số Phút</th>
            <th scope="col">Tiết Bắt Đầu</th>
            <th scope="col">Số Tiết</th>
            <th scope="col">Hình Thức</th>
            <th scope="col">Tổ Thi</th>
            <th scope="col">Nhóm Thi</th>
            <th scope="col">Ngày Thi</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listData">
            <th scope="row">{{data.ma_mon_hoc}}</th>
            <td>{{data.ten_mon_hoc}}</td>
            <td>{{data.ma_phong}}</td>
            <td>{{data.ten_phong}}</td>
            <td>{{data.gio_bat_dau}}</td>
            <td>{{data.so_phut}}</td>
            <td>{{data.tiet_bat_dau}}</td>
            <td>{{data.so_tiet}}</td>
            <td>{{data.hinh_thuc}}</td>
            <td>{{data.to_thi}}</td>
            <td>{{data.nhom_thi}}</td>
            <td>{{data.ngay_thi}}</td>   
        </tr>     
        </tbody>      
    </table>
</div>

