<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="row align-items-start">
                <div class="col">
                    <form class="container-fluid justify-content-start">
                        <a class="button" routerLink="/exam-schedule"
                        routerLinkActive="activebutton"
                        >Xem Lịch Thi</a>
                    </form>
                </div>
                </div>
        
                <div class="row align-items-center">
                <div class="col">
                    <form class="container-fluid justify-content-start">
                        <a class="button" routerLink="/timetable"
                        routerLinkActive="activebutton"
                        >Xem TKB Dạng Tuần</a>
                    </form>
                </div> 
                </div>
        
                <div class="row align-items-end">
                <div class="col">
                    <form class="container-fluid justify-content-start">               
                        <a class="button" routerLink="semester-mark"
                        routerLinkActive="activebutton"
                        >Xem Điểm 1 Học Kì</a>
                    </form>
                </div> 
                </div>
            </div>   
        </nav>
        </header>
        
        <section class="main">
            <div class="container">
                <router-outlet></router-outlet>
            </div>   
        </section>
</body>



