<div class="container">
    
    <div class="inputs">
        <form class="row" #Form="ngForm" (ngSubmit)="getInputs(Form.value)">
            <div class="col">    
                <input 
                class="form-control form-control-sm" 
                ngModel 
                #mssv="ngModel"
                type="text" 
                name="mssv" 
                placeholder="Nhập MSSV" 
                required>
            </div>

            <div class="col">
                <input 
                class="form-control form-control-sm" 
                ngModel
                #date="ngModel" 
                type="date" 
                name="date" 
                placeholder="Chọn ngày" 
                required>
            </div>

            <div class="col">
                <button type="submit" [disabled]="Form.invalid" class="btn btn-success btn-sm">Xem TKB</button>
            </div>
        </form>
    </div>

    <div class="input-alert">
        <div *ngIf="mssv.errors && (mssv.dirty || mssv.touched)" id="alert-mssv" class="alert alert-danger" role="alert">
            <div [hidden]="!mssv.errors.required">
                Chưa nhập MSSV
            </div>
        </div>

        <div *ngIf="date.errors && (date.dirty || date.touched)" id="alert-nhhk" class="alert alert-danger" role="alert">
            <div [hidden]="!date.errors.required">
                Chưa chọn ngày
            </div>
        </div>
    </div>

<div class="table">
    <table class="table table-sm caption-top table-info table-bordered">
        <caption>Thời Khỏa Biểu Dạng Tuần</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Thứ</th>
            <th scope="col">Tiết</th>
            <th scope="col">Tên Môn Học</th>
            <th scope="col">Mã Môn Học</th>
            <th scope="col">Tên Phòng</th>
            <th scope="col">Mã Phòng</th>
            <th scope="col">Lớp</th>
            <th scope="col">Ngày Học</th>
            <th scope="col">Năm Học</th>
            <th scope="col">Học Kỳ</th>
            <th scope="col">Số Tín Chỉ</th>
            <th scope="col">Số Tín Chỉ Học Phần</th>
            <th scope="col">Nhóm Học</th>
            <th scope="col">Nhóm Thực Hành</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <th scope="row">{{item.thu}}</th>
            <td>{{item.tiet}}</td>
            <td>{{item.ten_mon_hoc}}</td>
            <td>{{item.ma_mon_hoc}}</td>
            <td>{{item.ten_phong}}</td>
            <td>{{item.ma_phong}}</td>
            <td>{{item.lop}}</td>
            <td>{{item.ngay_hoc}}</td>
            <td>{{item.nam_hoc}}</td>
            <td>{{item.hoc_ky}}</td>
            <td>{{item.so_tc}}</td>
            <td>{{item.so_tc_hp}}</td>
            <td>{{item.nhom_hoc}}</td>
            <td>{{item.nhom_thuc_hanh}}</td>
        </tr>     
        </tbody>  
        <tfoot></tfoot>     
    </table>
</div>



